<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#319197">
    <title>Editar Fecha de Liquidación</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="main-content">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="https://www.gruposantanavega.com/img/logo_ft_002.png" width="150" height="60" class="d-inline-block align-top" alt="">
                <span class="display-4">Editar Fecha de Liquidación</span>
            </a>
        </nav>

        <div>
            <form method="post">
                {% csrf_token %}
                <label for="fecha_liquidacion">Nueva Fecha de Liquidación:</label>
                <input type="date" id="fecha_liquidacion" name="fecha_liquidacion" value="{{ fecha_liquidacion|date:'Y-m-d' }}">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>

            {% if mensaje_error %}
            <div class="alert alert-danger mt-3" role="alert">
                {{ mensaje_error }}
            </div>
            {% endif %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
