<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Reclasificador</title>

  <!-- Enlace a los estilos de Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
        <h1 style="animation: reverse; animation-duration: 4s; text-align: center;">Reclasificador</h1>
      </div>
    <hr class="divider" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <p>
        Prueba de los datos que se pondran aqui
    </p>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-5">
      <h4>Tabla Izquierda</h4>
      <ul id="listaIzquierda" class="list-group">
        {% for elemento in form.elementos_izquierda %}
          <li class="list-group-item">{{ elemento }}</li>
        {% endfor %}
      </ul>
    </div>
    
    <div class="col-md-2 text-center mt-4">
      <form method="post" action="">
        {% csrf_token %}
        {{ form.elementos_izquierda }}
        <br>
        <button type="submit" class="btn btn-primary mb-2" name="moverDerecha">Mover a la Derecha</button>
        <br>
        <button type="submit" class="btn btn-primary mb-2" name="moverIzquierda">Mover a la Izquierda</button>
      </form>
      <br>
      <button type="submit" class="btn btn-success" name="actualizarCambios">Actualizar Cambios</button>
      <br>
      <button id="irAPrueba" class="btn btn-info mt-2">Ir a /prueba</button>
    </div>
    
    <div class="col-md-5">
      <h4>Tabla Derecha</h4>
      <ul id="listaDerecha" class="list-group">
        {% for elemento in form.elementos_derecha %}
          <li class="list-group-item">{{ elemento }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<!-- Enlaces a los scripts de Bootstrap y jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- Tu script personalizado para manejar los movimientos y actualizaciones -->
<script>
  $(document).ready(function() {
    // Agrega aquí tu código JavaScript para manejar los movimientos y actualizaciones
  });
</script>

</body>
</html>
