<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Proveedores</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- Enlace a los estilos de Bootstrap -->
  <link rel="stylesheet" crossorigin="anonymous"
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
  <style>
    /* Estilos adicionales para hacer la tabla más pequeña y manejable */
    table {
        max-width: 100%;
        margin: auto;
    }

    th,
    td {
        max-width: 100px; /* O cualquier otro valor que desees */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>
<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
</head>
<body>
    <div> 

    
   <!--<a class="btn btn-primary" href="addProv">Agregar Nuevo Proveedor</a> --> 
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID Proveedor</th>
                <th scope="col">Número Proveedor</th>
                <th scope="col">Nombre Proveedor</th>
                <th scope="col">Num Clabe</th>
                <th scope="col">Descripción</th>
                <th scope="col">Modificacion</th>
            </tr>
        </thead>
        <tbody>
            {% for proveedor in proveedores_list %}
    <tr>
        <td>{{ proveedor.id_proveedor }}</td>
        <td>{{ proveedor.num_proveedor }}</td>
        <td>{{ proveedor.nombre_proveedor }}</td>
        <td>{{ proveedor.no_clabe }}</td>
        <td> {{proveedor.Descripcion}} </td> <!-- Modified line -->
        <td> <a href="updateprov/{{proveedor.id_proveedor}}" class="btn btn-success"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"></path>
                      </svg> Edit </a> </td>
       <!--  <td> <a href="deleteprov/{{proveedor.id_proveedor}}" class="btn btn-danger"> Delete </a> </td>-->
    </tr>
{% endfor %}
            
        </tbody>

    </table>
    {% include "paginacion.html" %}
    </div>    

</body>
</html>