<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <title>Update Provider</title>
    
    <link rel="stylesheet" crossorigin="anonymous"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" >
    
	<script crossorigin="anonymous"
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" >
	</script>

</head>

<body>
    <h2>Update Provider</h2>

    <form action="" method = "POST">{% csrf_token %}
        <div class="form-group row">
          <label for="no_clabe">CLABE Number:</label>
          <input type="text" class="form-control" name="no_clabe" id="no_clabe" value="{{ provider.no_clabe }}">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
        <a href="{% url 'get_proveedores_list' %}" class="btn btn-primary">Cancel</a>
      </form>
</body>
</html>